<a href="https://colab.research.google.com/github/nightmare301986/Net_2/blob/main/Statistics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
import pandas as pd
import os
import glob
import re
import numpy as np

Нахождение файлов Excel

In [ ]:
path = os.getcwd()
files = os.listdir('/content/gdrive/MyDrive/Colab Notebooks/')


files_xlsx = [f for f in files if f[-4:] == 'xlsx']
files_xlsx

df = pd.DataFrame()

df.to_excel('data2.xlsx')
!cp data2.xlsx "/content/gdrive/MyDrive/Colab Notebooks/sfiles"

Указание на лист(месяц), который подгружаем для обработки

In [ ]:
drinks1 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/ВНО.xlsx')
drinks2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/Книгохранение.xlsx')
drinks3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/Мл.абонемент.xlsx')
drinks4 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/Ст.абонемент.xlsx')
drinks5 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/Психолог.xlsx')
drinks6 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/СЭИ.xlsx')
drinks7 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/sfiles/Чит.зал.xlsx')

result = pd.concat([drinks1, drinks2, drinks3, drinks4, drinks5, drinks6, drinks7], ignore_index=True)

df_out = result.groupby(['dates']).sum()

df_out.to_excel('data5.xlsx')
!cp data5.xlsx "/content/gdrive/MyDrive/Colab Notebooks/sfiles"

Проверочный вывод общего файла (вся статистика)

In [ ]:
df3.head(8)

Empty DataFrame
Columns: []
Index: []

In [ ]:
df3 = df3.sort_values(by='dates', ascending=True, na_position='first');

KeyError: 'dates'

In [ ]:
df3.head(6)

Empty DataFrame
Columns: []
Index: []

In [ ]:
df4 = df3.groupby(by=['dates']).sum()
df4

KeyError: 'dates'

In [ ]:
df4.to_excel('data2.xlsx')
!cp data2.xlsx "/content/gdrive/MyDrive/Colab Notebooks/"

NameError: name 'df4' is not defined

Парсинг файла csv

In [ ]:
df3['dates']

0    2023-05-26
0    2023-05-26
0    2023-05-26
0    2023-05-26
0    2023-05-26
        ...
19   2023-06-23
20   2023-06-23
18   2023-06-23
19   2023-06-23
19   2023-06-23
Name: dates, Length: 121, dtype: datetime64[ns]